# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.ipch/
*.obj
*.exe
*.pdb
*.idb
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.cachefile
*.aps
*.ncb
*.sbr
*.scc
*.ilk
*.tmp
*.bak
*.cache
*.db
*.opendb
*.pyc
*.class
*.DS_Store
Thumbs.db
*.pch
*.res
*.dll
*.lib
*.exp
*.manifest
*.o
*.gch
*.out
*.x64/
*.Debug/
*.Release/
*.ipdb
*.iobj
*.log
*.sbr
*.unsuccessfulbuild
*.tlog/
*.obj/
*.ipch/
*.db
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/ 